.u-section-1 .u-sheet-1 {
  min-height: 1851px;
}

.u-section-1 .u-image-1 {
  width: 139px;
  min-height: 149px;
  background-image: url("images/storeicon2.jpg");
  margin: 125px auto 0 79px;
}

.u-section-1 .u-group-2 {
  width: 218px;
  min-height: 51px;
  margin: -149px auto 0 251px;
}

.u-section-1 .u-text-1 {
  margin: 8px auto 0 0;
}

.u-section-1 .u-group-3 {
  width: 778px;
  min-height: 143px;
  margin: 0 91px 0 auto;
}

.u-section-1 .u-container-layout-3 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-1 .u-shape-1 {
  width: 25px;
  height: 25px;
  margin: 17px auto 0 33px;
}

.u-section-1 .u-line-1 {
  width: 650px;
  height: 3px;
  transform-origin: left center 0px;
  margin: -14px auto 0 56px;
}

.u-section-1 .u-shape-2 {
  width: 25px;
  height: 24px;
  margin: -13px auto 0 226px;
}

.u-section-1 .u-shape-3 {
  width: 25px;
  height: 24px;
  margin: -24px 313px 0 auto;
}

.u-section-1 .u-shape-4 {
  width: 25px;
  height: 24px;
  margin: -25px 72px 0 auto;
}

.u-section-1 .u-text-2 {
  margin: 18px auto 0 33px;
}

.u-section-1 .u-text-3 {
  margin: -26px auto 0 171px;
}

.u-section-1 .u-text-4 {
  margin: -26px 265px 0 auto;
}

.u-section-1 .u-text-5 {
  margin: -26px 0 0 auto;
}

.u-section-1 .u-group-4 {
  width: 218px;
  min-height: 52px;
  margin: 41px auto 0 79px;
}

.u-section-1 .u-text-6 {
  margin: 0 auto 0 0;
}

.u-section-1 .u-table-1 {
  width: 983px;
  margin: 69px auto 0 79px;
}

.u-block-d856-10 {
  height: 46px;
}

.u-block-d856-33 {
  height: 46px;
}

.u-section-1 .u-image-2 {
  width: 127px;
  height: 191px;
  margin: -250px auto 0 176px;
}
.u-section-1 .u-image-3 {
  width: 127px;
  height: 191px;
  margin: 0px auto 0 px;
}

.u-section-1 .u-shape-5 {
  width: 20px;
  height: 20px;
  margin: -117px auto 0 103px;
}

.u-section-1 .u-text-7 {
  margin: 189px 671px 0 79px;
}

.u-section-1 .u-list-1 {
  width: 982px;
  margin: 48px auto 0;
}

.u-section-1 .u-repeater-1 {
  grid-gap: 0px 0px;
  grid-template-columns: 100%;
  min-height: 593px;
}

.u-section-1 .u-container-layout-5 {
  padding: 0;
}

.u-section-1 .u-text-8 {
  margin: 0 28px 0 834px;
}

.u-section-1 .u-text-9 {
  margin: -26px 145px 0 717px;
}

.u-section-1 .u-shape-6 {
  width: 20px;
  height: 20px;
  margin: -16px auto 0 7px;
}

.u-section-1 .u-text-10 {
  margin: -29px 271px 0 55px;
}

.u-section-1 .u-container-layout-6 {
  padding: 0;
}

.u-section-1 .u-text-11 {
  margin: 0 28px 0 834px;
}

.u-section-1 .u-text-12 {
  margin: -26px 145px 0 717px;
}

.u-section-1 .u-shape-7 {
  width: 20px;
  height: 20px;
  margin: -16px auto 0 7px;
}

.u-section-1 .u-text-13 {
  margin: -29px 271px 0 55px;
}

.u-section-1 .u-container-layout-7 {
  padding: 0;
}

.u-section-1 .u-text-14 {
  margin: 0 28px 0 834px;
}

.u-section-1 .u-text-15 {
  margin: -26px 145px 0 717px;
}

.u-section-1 .u-shape-8 {
  width: 20px;
  height: 20px;
  margin: -16px auto 0 7px;
}

.u-section-1 .u-text-16 {
  margin: -29px 271px 0 55px;
}

.u-section-1 .u-group-5 {
  width: 453px;
  min-height: 63px;
  height: auto;
  margin: 33px 117px 0 auto;
}

.u-section-1 .u-container-layout-8 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-1 .u-text-17 {
  margin: 19px auto 0 53px;
}

.u-section-1 .u-text-18 {
  margin: -29px 41px 0 286px;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  margin: 15px 160px 60px auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-container-layout-3 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-1 .u-table-1 {
    width: 940px;
  }

  .u-section-1 .u-text-7 {
    margin-right: 550px;
    margin-left: 0;
  }

  .u-section-1 .u-list-1 {
    width: 940px;
  }

  .u-section-1 .u-text-8 {
    margin-right: 7px;
    margin-left: 813px;
  }

  .u-section-1 .u-text-9 {
    margin-right: 124px;
    margin-left: 696px;
  }

  .u-section-1 .u-text-10 {
    margin-right: 250px;
    margin-left: 34px;
  }

  .u-section-1 .u-text-11 {
    margin-top: -16px;
    margin-right: 7px;
    margin-left: 813px;
  }

  .u-section-1 .u-text-12 {
    margin-top: -25px;
    margin-right: 124px;
    margin-left: 696px;
  }

  .u-section-1 .u-shape-7 {
    margin-top: 0;
  }

  .u-section-1 .u-text-13 {
    margin-top: -183px;
    margin-right: 250px;
    margin-left: 34px;
  }

  .u-section-1 .u-text-14 {
    margin-top: -16px;
    margin-right: 7px;
    margin-left: 813px;
  }

  .u-section-1 .u-text-15 {
    margin-top: -25px;
    margin-right: 124px;
    margin-left: 696px;
  }

  .u-section-1 .u-shape-8 {
    margin-top: 0;
  }

  .u-section-1 .u-text-16 {
    margin-top: -55px;
    margin-right: 250px;
    margin-left: 34px;
  }

  .u-section-1 .u-group-5 {
    height: auto;
  }

  .u-section-1 .u-container-layout-8 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-1 .u-btn-1 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-group-3 {
    width: 720px;
    margin-right: 0;
  }

  .u-section-1 .u-text-4 {
    margin-right: 245px;
  }

  .u-section-1 .u-table-1 {
    width: 720px;
  }

  .u-section-1 .u-text-7 {
    margin-right: 330px;
  }

  .u-section-1 .u-list-1 {
    width: 720px;
  }

  .u-section-1 .u-text-8 {
    margin-right: 0;
    margin-left: 600px;
  }

  .u-section-1 .u-text-9 {
    margin-right: 14px;
    margin-left: 586px;
  }

  .u-section-1 .u-text-10 {
    margin-right: 64px;
    margin-left: 0;
  }

  .u-section-1 .u-text-11 {
    margin-right: 0;
    margin-left: 600px;
  }

  .u-section-1 .u-text-12 {
    margin-right: 14px;
    margin-left: 586px;
  }

  .u-section-1 .u-text-13 {
    margin-right: 64px;
    margin-left: 0;
  }

  .u-section-1 .u-text-14 {
    margin-right: 0;
    margin-left: 600px;
  }

  .u-section-1 .u-text-15 {
    margin-right: 14px;
    margin-left: 586px;
  }

  .u-section-1 .u-text-16 {
    margin-right: 64px;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-group-3 {
    width: 540px;
  }

  .u-section-1 .u-line-1 {
    width: 540px;
    margin-left: 0;
  }

  .u-section-1 .u-text-4 {
    margin-right: 184px;
  }

  .u-section-1 .u-table-1 {
    width: 540px;
  }

  .u-section-1 .u-text-7 {
    margin-right: 150px;
  }

  .u-section-1 .u-list-1 {
    width: 540px;
  }

  .u-section-1 .u-text-8 {
    margin-left: 420px;
  }

  .u-section-1 .u-text-9 {
    margin-right: 0;
    margin-left: 420px;
  }

  .u-section-1 .u-text-10 {
    margin-right: 0;
  }

  .u-section-1 .u-text-11 {
    margin-top: 189px;
    margin-left: 420px;
  }

  .u-section-1 .u-text-12 {
    margin-right: 0;
    margin-left: 420px;
  }

  .u-section-1 .u-text-13 {
    margin-top: -234px;
    margin-right: 0;
  }

  .u-section-1 .u-text-14 {
    margin-left: 420px;
  }

  .u-section-1 .u-text-15 {
    margin-right: 0;
    margin-left: 420px;
  }

  .u-section-1 .u-text-16 {
    margin-right: 0;
  }

  .u-section-1 .u-group-5 {
    margin-right: 87px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-group-2 {
    margin-left: 122px;
  }

  .u-section-1 .u-group-3 {
    width: 340px;
  }

  .u-section-1 .u-line-1 {
    width: 340px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 108px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 116px;
  }

  .u-section-1 .u-table-1 {
    width: 340px;
  }

  .u-section-1 .u-text-7 {
    margin-right: 0;
  }

  .u-section-1 .u-list-1 {
    width: 340px;
  }

  .u-section-1 .u-text-8 {
    margin-left: 220px;
  }

  .u-section-1 .u-text-9 {
    margin-left: 220px;
  }

  .u-section-1 .u-text-11 {
    margin-top: 342px;
    margin-left: 220px;
  }

  .u-section-1 .u-text-12 {
    margin-left: 220px;
  }

  .u-section-1 .u-text-13 {
    margin-top: -388px;
  }

  .u-section-1 .u-text-14 {
    margin-top: 61px;
    margin-left: 220px;
  }

  .u-section-1 .u-text-15 {
    margin-left: 220px;
  }

  .u-section-1 .u-text-16 {
    margin-top: -106px;
  }

  .u-section-1 .u-group-5 {
    width: 340px;
    margin-right: 0;
  }

  .u-section-1 .u-text-18 {
    margin-right: 53px;
    margin-left: 214px;
  }
}